{% extends "base.html" %}

{% block content %}

<div>
    {% load static %}
    <img id="resturabd-image" src="{% static 'resturabd.png' %}" alt="resturabd about us image" />
</div>

<div id="about_us">
    <h2>About ResturaBD</h2>
    <p>
        ResturaBD is located on Bangladesh, 
        so if you're outside of that country, 
        then get the hell outta her, 
        what are you waiting for? 
        you expect us to deliver the food to your door in the mars? 
        bro, get up from dreaming.
    </p>
    <p>
        However, ResturaBD provides the best food anyone could ever imagine on the face of the earth, or probably universe if I am not sure.
    </p>
</div>
{% endblock content %}
